.products__title h3 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  color: #0f298b;
  margin-bottom: 0.5rem;
}

.products__title p {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  text-align: center;

  color: rgba(0, 0, 0, 0.81);
}

.products__card {
  font-family: "Space Grotesk", sans-serif;
  padding: 1.5rem 1.2rem;
  gap: 26.24px;
  width: 20rem;
  height: 24rem;
  background: #ffffff;
  box-shadow: 12.3472px 12.3472px 24.6944px rgba(37, 73, 211, 0.05);
  border-radius: 10px;
}

.card-body h4 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0.4rem;
  color: #000;
}

.card-body p {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.products__creation-text h4 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  color: #0f298b;
}

.products__creation-text p {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.81);
}

.creation-box {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 16px;
  color: #000000;
}
